html {
    scroll-behavior: smooth;
}

.title {
    color: #9E9E9E;
    /* font-size: 24px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.title::before {
    content: "<";
}

.title::after {
    content: ">";
}

.name {
    background: -webkit-linear-gradient(275.68deg, #3A8EE6 0%, #C03AE7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.splide__slide:hover .splide-title {
    display: block;
    position: absolute;
    font-size: larger;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.574);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}

.splide-title {
    display: none;
}